<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/msz13/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="msz13" />
      <add key="ClearTextPassword" value="460e6d7c4991ceb20ce6305ec3847dbe230589da" />
    </github>
  </packageSourceCredentials>
</configuration>
